.ScrollMenu {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-left: -10px; /* 스크롤 메뉴 왼쪽 마진을 설정해줍니다. */
}

.ScrollMenu::-webkit-scrollbar {
  display: none;
}

.ScrollMenu div:first-child {
  margin-left: 10px; /* 첫번째 요소에 마진을 줘서 오버플로우 메뉴가 화면에 가려지지 않도록 합니다. */
}

.ScrollMenu div:not(:first-child) {
  margin-left: 0px;
  scroll-snap-align: center;
}
